Repository Pong420/chatbot-game: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

fix(): make it better
  contentlayer.config.ts
  docs/todo.mdx
  src/app/mdx.css
  src/app/page.tsx
  src/components/Doc/DocNav.tsx
  src/components/constants.ts
  src/components/home/Feature.tsx
  src/components/mdx-components.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

refactor(): auto mode
  src/bot/line/filters/game.ts
  src/bot/line/service/werewolf/filter.ts
  src/bot/line/service/werewolf/handler.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/handlers/main.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  src/components/Home/Feature.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): line bot id
  src/app/page.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  posts/5-4-2024.mdx
Due: none

fix(): try to fix footer navigation
  next.config.mjs
Due: none

fix(): remove time checking for auto mode
  src/bot/line/service/werewolf/handler.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): website
  next.config.mjs
  src/app/docs/[[...slug]]/layout.tsx
  src/app/docs/[[...slug]]/page.tsx
  src/app/posts/[[...slug]]/layout.tsx
  src/app/posts/[[...slug]]/page.tsx
  src/app/posts/layout.tsx
  src/components/Doc/DocNav.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/constants.ts
  src/lib/doc.ts
  src/lib/post.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  docs/term-of-use.mdx
  next.config.mjs
Due: none

fix(): typo
  public/site.webmanifest
  src/app/page.tsx
  src/components/Footer.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  src/app/docs/[[...slug]]/page.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  src/bot/line/service/werewolf/board.ts
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): made mobile nav better
  src/app/docs/[[...slug]]/layout.tsx
  src/app/page.tsx
  src/app/posts/[[...slug]]/layout.tsx
  src/components/Header.tsx
  src/components/Sidebar/SidebarMobile.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): init achivement
  README.md
  src/app/page.tsx
  src/service/database.types.ts
  src/service/game/achievement.ts
  src/service/game/index.ts
  src/service/werewolf/achivement.test.ts
  src/service/werewolf/achivement.ts
  src/service/werewolf/stage/init.ts
  src/service/werewolf/test.ts
  supabase/migrations/20240504133843_achievement.sql
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

fix(): should not skip stage even if character is dead
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/service/werewolf/achivement.test.ts
  src/service/werewolf/character/predictor.test.ts
  src/service/werewolf/stage/guard.ts
  src/service/werewolf/stage/predictor.ts
  src/service/werewolf/stage/witcher.ts
  src/service/werewolf/test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): game stage
  src/service/werewolf/game.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): add more archivement test
  src/service/werewolf/achivement.test.ts
  src/service/werewolf/stage/_stage.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

upload archivement
  src/bot/line/test/index.ts
  src/service/game/achievement.mock.ts
  src/service/game/game.extra.ts
  src/service/game/game.ts
  src/service/werewolf/achivement.test.ts
  src/service/werewolf/achivement.ts
  src/service/werewolf/game.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

chore(): version
  package-lock.json
  package.json
Due: prettier --write

feat(): release note
  contentlayer.config.ts
  posts/5-6-2024.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/components/Post/PostNav.tsx
  src/components/mdx-components.tsx
  src/service/werewolf/game.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): mdx styles
  src/app/docs/[[...slug]]/page.tsx
  src/app/mdx.css
  src/components/mdx-components.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

feat(): update docs
  docs/designation.mdx
  docs/werewolf/characters.mdx
  posts/5-6-2024.mdx
  public/assets/titles_old.jpeg
  src/app/page.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): server actions
  src/app/werewolf/settings/[...id]/page.tsx
  src/bot/line/service/werewolf/board.ts
  src/bot/line/utils/liff.ts
  src/components/werewolf/CharacterSelector.tsx
  src/service/actions/werewolf.ts
  src/service/werewolf/utils.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

draft
  .env
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/werewolf/chat/[...slug]/page.tsx
  src/components/Chat/Chat.tsx
  src/components/Chat/ChatInput.tsx
  src/components/Chat/ChatMessage.tsx
  src/components/LoadingScreen.tsx
  src/service/actions/werewolf.ts
  src/service/chat.ts
  src/service/database.types.ts
  src/service/supabase.borwser.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): logo
  src/components/LoadingScreen.tsx
  src/components/Logo.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): init chat implemetation
  src/app/chat/[chat]/page.tsx
  src/app/chat/layout.tsx
  src/app/werewolf/chat/[...slug]/page.tsx
  src/components/Chat/Chat.tsx
  src/service/actions/werewolf.ts
  src/service/chat.ts
  src/service/database.types.ts
  src/service/supabase.borwser.ts
  supabase/migrations/20240505224036_chats.sql
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): make it better
  public/robots.txt
  src/app/chat/[chat]/page.tsx
  src/app/chat/layout.tsx
  src/app/werewolf/layout.tsx
  src/bot/line/next.ts
  src/bot/line/service/werewolf/board.ts
  src/bot/line/utils/createMessage.ts
  src/bot/line/utils/liff.ts
  src/components/Chat/Chat.tsx
  src/components/Chat/ChatMessage.tsx
  src/components/ui/alert.tsx
  src/components/werewolf/SettingForm.tsx
  src/service/database.types.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): logo, metadata
  public/robots.txt
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): add toster
  package-lock.json
  package.json
  src/app/layout.tsx
  src/components/Chat/Chat.tsx
  src/components/ui/sonner.tsx
  src/components/werewolf/SettingForm.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): db, typo
  .env
  supabase/migrations/20240506095929_avater.sql
Due: none

fix(): db
  supabase/config.toml
  supabase/migrations/20240505224036_chats.sql
Due: none

feat(): init werewolf known each others
  src/app/werewolf/settings/[...id]/page.tsx
  src/bot/line/filters/text.ts
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/host.ts
  src/bot/line/service/werewolf/handlers/hunter.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/handlers/werewolf.ts
  src/bot/line/test/index.ts
  src/bot/line/utils/createMessage.ts
  src/service/chat.mock.ts
  src/service/chat.ts
  src/service/werewolf/character/werewolf.ts
  src/service/werewolf/game.ts
  src/service/werewolf/locales/zh-tw.ts
  src/service/werewolf/stage/start.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): werewolves mode
  src/bot/line/service/werewolf/report.ts
  src/service/chat.ts
  src/service/game/game.extra.ts
  src/service/game/game.ts
  src/service/werewolf/character/werewolf.test.ts
  src/service/werewolf/character/werewolf.ts
  src/service/werewolf/game.test.ts
  src/service/werewolf/game.ts
  src/service/werewolf/locales/zh-tw.ts
  src/service/werewolf/stage/night.ts
  src/service/werewolf/test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): grammer?
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/test.ts
  src/service/werewolf/achivement.test.ts
  src/service/werewolf/achivement.ts
  src/service/werewolf/character/guard.test.ts
  src/service/werewolf/character/hunter.test.ts
  src/service/werewolf/character/predictor.test.ts
  src/service/werewolf/character/werewolf.test.ts
  src/service/werewolf/character/witcher.test.ts
  src/service/werewolf/game.test.ts
  src/service/werewolf/game.ts
  src/service/werewolf/stage/night.ts
  src/service/werewolf/test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): link character docs
  src/bot/line/service/werewolf/board.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): update docs
  docs/nickname.mdx
  docs/privacy.mdx
  docs/todo.mdx
  docs/werewolf/characters.mdx
  docs/werewolf/settings.mdx
  posts/5-8-2024.mdx
  src/components/werewolf/SettingForm.tsx
  src/service/werewolf/stage/night.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): update settings
  src/service/actions/werewolf.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  src/bot/line/service/werewolf/board.ts
  src/service/actions/werewolf.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): chat room
  src/components/Chat/Chat.tsx
  src/service/actions/werewolf.ts
  src/service/chat.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

Path conditions:
  eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0: (any of: *.{js,jsx}) or (any of: *.{ts,tsx})
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: {*.json,.{babelrc,eslintrc,prettierrc}})
  bash -c "tsc --noEmit": any of: *.{ts,tsx}
  prettier --single-quote --write: (any of: *.{css,scss}) or (any of: *.{yml,md})
