Repository Pong420/chatbot-game: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\", \"info\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\", \"info\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "bash -c \"tsc --noEmit\"",
    "prettier --write"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc}}": ["prettier --write"],
  "*.{css,scss}": ["prettier --single-quote --write"],
  "*.{yml,md}": ["prettier --single-quote --write"]
}

fix(): host command
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(werewolf): start board, sent to bot
  .env
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/host.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/handlers/main.ts
  src/bot/line/service/werewolf/test.ts
  src/bot/line/test/mockClient.ts
  src/bot/line/utils/createMessage.ts
  src/service/werewolf/character/_character.ts
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(werewolf): commands
  .vscode/i18n-ally-custom-framework.yml
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/host.ts
  src/bot/line/service/werewolf/handlers/main.ts
  src/bot/line/service/werewolf/report.ts
  src/service/werewolf/locales/zh-tw.ts
  src/utils/locale.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

feat(): add metadata
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/mstile-150x150.png
  public/next.svg
  public/site.webmanifest
  public/vercel.svg
  src/assets/logo.png
Due: none

feat(): basic pages
  src/app/(tnc)/layout.tsx
  src/app/(tnc)/privacy/page.mdx
  src/app/(tnc)/turn-of-use/page.mdx
  src/app/docs/layout.tsx
  src/app/docs/nickname/page.mdx
  src/app/docs/page.tsx
  src/app/docs/werewolf/page.mdx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/components/home/Feature.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): home page
  src/app/page.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): make it better
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): vote board
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/host.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/handlers/main.ts
  src/bot/line/service/werewolf/test.ts
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): make test better
  package-lock.json
  package.json
  src/bot/line/test/mockLineUser.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): remove unused files
  src/app/(tnc)/layout.tsx
  src/app/(tnc)/privacy/page.mdx
  src/app/(tnc)/turn-of-use/page.mdx
  src/app/docs/nickname/page.mdx
  src/app/docs/werewolf/page.mdx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): add components
  src/components/ui/accordion.tsx
  src/components/ui/aspect-ratio.tsx
  src/components/ui/scroll-area.tsx
  src/components/werewolf/SettingForm.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): init docs
  .gitignore
  contentlayer.config.ts
  docs/nickname.mdx
  docs/privacy.mdx
  docs/term-of-use.mdx
  docs/werewolf.mdx
  next.config.mjs
  package-lock.json
  package.json
  src/app/contact/page.tsx
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/layout.tsx
  src/components/mdx-components.tsx
  src/components/toc.tsx
  src/hooks/useMounted.ts
  src/lib/toc.ts
  src/lib/utils.ts
  src/mdx-components.tsx
  tsconfig.json
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): logo
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/Logo.tsx
  src/components/ui/tooltip.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): configuration
  next.config.mjs
Due: none

fix(): make it better
  docs/term-of-use.mdx
  package-lock.json
  package.json
  src/components/ui/alert-dialog.tsx
  src/components/werewolf/SettingForm.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): add sharp
  package-lock.json
  package.json
Due: prettier --write

fix(): downgrade vitest
  package-lock.json
  package.json
Due: prettier --write

fix(): packages
  package-lock.json
  package.json
Due: prettier --write

fix(): esbuild install error
  package-lock.json
  package.json
Due: prettier --write

fix(): try to fix packages
  package-lock.json
  package.json
Due: prettier --write

refactor(): text
  src/bot/line/filters/game.ts
  src/bot/line/handlers/nickname.test.ts
  src/bot/line/locales/zh-tw.ts
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/main.ts
  src/bot/line/service/werewolf/report.ts
  src/bot/line/service/werewolf/test.ts
  src/bot/line/utils/userService.ts
  src/service/game/game.ts
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

init game flow documatation
  contentlayer.config.ts
  docs/werewolf.mdx
  docs/werewolf/flow.mdx
  next.config.mjs
  public/assets/werewolf/flow/flow_10.jpg
  public/assets/werewolf/flow/flow_11.jpg
  public/assets/werewolf/flow/flow_12.jpg
  public/assets/werewolf/flow/flow_13.jpg
  public/assets/werewolf/flow/flow_14.jpg
  public/assets/werewolf/flow/flow_2.jpg
  public/assets/werewolf/flow/flow_3.jpg
  public/assets/werewolf/flow/flow_4.jpg
  public/assets/werewolf/flow/flow_5.jpg
  public/assets/werewolf/flow/flow_6.jpg
  public/assets/werewolf/flow/flow_7.jpg
  public/assets/werewolf/flow/flow_8.jpg
  public/assets/werewolf/flow/flow_9.jpg
  src/app/docs/[[...slug]]/page.tsx
  src/app/mdx.css
  src/components/mdx-components.tsx
  tailwind.config.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

fix(): privacy & tnu
  docs/privacy.mdx
  docs/term-of-use.mdx
  src/bot/line/filters/event.ts
  src/bot/line/handlers/main.ts
  src/bot/line/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): update layout
  docs/nickname.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/layout.tsx
  src/app/page.tsx
  src/bot/line/handlers/main.ts
  src/components/Footer.tsx
  src/components/Header.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): make it better
  src/app/page.tsx
  src/components/Header.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): make it better
  docs/contact.mdx
  docs/nickname.mdx
  next.config.mjs
  public/assets/qr_code_line_group.jpeg
  public/assets/qr_code_telegram.jpg
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): add nav bar
  contentlayer.config.ts
  docs/contact.mdx
  docs/privacy.mdx
  docs/term-of-use.mdx
  docs/werewolf/_category_.json
  docs/werewolf/characters.mdx
  docs/werewolf/flow.mdx
  next.config.mjs
  package-lock.json
  package.json
  src/app/docs/[[...slug]]/page.tsx
  src/components/DocNavBar.tsx
  src/components/DocNavItem.tsx
  src/components/mdx-components.tsx
  src/components/ui/button.tsx
  src/components/ui/collapsible.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): test
  src/bot/line/service/werewolf/test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): docs navigation
  package-lock.json
  package.json
  src/app/docs/[[...slug]]/page.tsx
  src/app/page.tsx
  src/components/DocNav/DocMobileNav.tsx
  src/components/DocNav/DocNav.tsx
  src/components/DocNav/DocNavBar.tsx
  src/components/DocNav/DocNavItem.tsx
  src/components/DocNavBar.tsx
  src/components/Header.tsx
  src/components/constants.ts
  src/components/ui/sheet.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): ui
  contentlayer.config.ts
  docs/contact.mdx
  docs/term-of-use.mdx
  docs/werewolf/flow.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/components/Footer.tsx
  src/components/Logo.tsx
  src/components/ui/breadcrumb.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): move settings to game
  src/app/werewolf/settings/actions.ts
  src/bot/line/service/werewolf/board.ts
  src/bot/line/service/werewolf/handlers/host.ts
  src/bot/line/service/werewolf/test.ts
  src/components/werewolf/SettingForm.tsx
  src/service/werewolf/game.ts
  src/service/werewolf/stage/_stage.ts
  src/service/werewolf/stage/init.ts
  src/service/werewolf/test.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): add auto mode
  src/app/werewolf/settings/actions.ts
  src/bot/line/service/werewolf/handler.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/bot/line/service/werewolf/test.ts
  src/components/werewolf/SettingForm.tsx
  src/service/werewolf/game.ts
  src/service/werewolf/stage/_stage.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): typo
  src/bot/line/service/werewolf/board.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): rename doc component
  src/components/Doc/DocMobileNav.tsx
  src/components/Doc/DocNav.tsx
  src/components/Doc/DocNavBar.tsx
  src/components/Doc/DocNavItem.tsx
  src/components/Header.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): update docs
  contentlayer.config.ts
  docs/nickname.mdx
  docs/werewolf/characters.mdx
  docs/werewolf/faq.mdx
  docs/werewolf/flow.mdx
  docs/werewolf/host.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/app/mdx.css
  src/bot/line/handlers/nickname.test.ts
  src/bot/line/handlers/nickname.ts
  src/bot/line/locales/zh-tw.ts
  src/components/Doc/DocToc.tsx
  src/components/Doc/DocTocTree.tsx
  src/components/Doc/useActiveItem.ts
  src/components/mdx-components.tsx
  src/mdx-components.tsx
  src/service/werewolf/locales/zh-tw.ts
  src/utils/locale.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write

feat(): make it better
  docs/nickname.mdx
  docs/term-of-use.mdx
  docs/werewolf/characters.mdx
  docs/werewolf/faq.mdx
  docs/werewolf/flow.mdx
  docs/werewolf/host.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/app/docs/layout.tsx
  src/app/page.tsx
  src/app/werewolf/settings/actions.ts
  src/bot/line/handlers/nickname.test.ts
  src/bot/line/locales/zh-tw.ts
  src/bot/line/utils/userService.ts
  src/components/Header.tsx
  src/components/HeaderLink.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

feat(): add blog posts
  contentlayer.config.ts
  posts/5-4-2024.mdx
  src/app/docs/[[...slug]]/page.tsx
  src/app/posts/[[...slug]]/page.tsx
  src/app/posts/layout.tsx
  src/components/Doc/DocNavBar.tsx
  src/components/Header.tsx
  src/components/Post/PostNav.tsx
  src/components/Sidebar/Sidebar.tsx
  src/components/Sidebar/SidebarItem.tsx
  src/components/constants.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

fix(): posts
  contentlayer.config.ts
  package-lock.json
  package.json
  src/components/Post/PostNav.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): make it better
  docs/werewolf/characters.mdx
  docs/werewolf/faq.mdx
  docs/werewolf/flow.mdx
  src/bot/line/locales/zh-tw.ts
  src/bot/line/service/werewolf/handlers/main.test.ts
  src/service/werewolf/character/werewolf.ts
  src/service/werewolf/locales/zh-tw.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit"

refactor(): posts
  README.md
  contentlayer.config.ts
  posts/5-4-2024.mdx
  src/app/posts/[[...slug]]/page.tsx
  src/app/posts/layout.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug", "info"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --write, bash -c "tsc --noEmit", prettier --single-quote --write
